* {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2879af;
}


/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 52px;
    background: #3498db;
    align-items: center;
    display: grid;
    grid-template-columns: 130px auto 100px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 45%);
    font-size: 14px;
}

.Logo {
    margin: 0 5px;
}

.Logo a{
    display: flex;
    margin: 0;
    align-items: center;
}

.Logo figure {
    margin: 0;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    justify-self: end;
    padding-right: 10px;
}

header label:hover {
    cursor: pointer;
}

.menu ul {
    margin: 0 20px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}
.menu li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: .4s;
}
.menu li {
    border-radius: 8px;
}
.menu li a {
    display: block;
    padding: 8px 15px;
    color: #000;
    text-decoration: none;
}

.LoginButton a {
    text-decoration: none;
    color: #000;
    background-color: #00d86a;
    border-radius: 8px;
    padding: 5px 5px;
}

.LoginButton a:hover {
    background-color: #fcfb1e;
    transition: .4s;
}
/* HEADER */




/* U-WRAPPER */
.u-wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto!important;
    padding: 0 1em;
    position: relative;
}
/* U-WRAPPER */



/* HERO */

.main-image-description-div {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem auto 6rem auto; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.main-image figure {
    margin: 0;
}
.main-image img {
    width: 100%;
}

.description-div {
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.description-div p {
    margin: 0;
}

#izitalks-logo img {
    width: 170px;
}

.daily-rooms {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.daily-rooms p {
    margin: 0;
}
.daily-rooms img {
    width: 30px;
}

#muypronto-img {
    width: 200px;
    margin: 30px auto;
}







.Footer-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

#mc_embed_signup_scroll {
    display: flex;
    align-items: center;
}

.mc-field-group {
    position: relative;
}

.mc-field-group label {
    font-size: 18px;
    margin: 0 20px 0 0;
    color: #fff;
}

.mc_embed_signup {
    padding: 0;
}

.mc-field-group input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    width: 480px;
    border-radius: 3px;
    height: 38px;
    border: 1px solid #01257d;
    color: #000;
    background-color: #fff;
    padding: 5px;
    margin-right: 8px;
    box-sizing: border-box;
}

.mc-field-group input::placeholder {
    color: #133851;
    font-size: 16px;
}

.mc-field-group input:focus {
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 3px 5px #46b2fb;
}

#mc_embed_signup div.mce_inline_error {
    position: absolute;
    font-size: 12px;
    padding: 3px;
    left: 50%;
}

#mc_embed_signup div.mce_inline_error::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #6B0505;
    position: absolute;
    top: -10px;
}

.clear input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 170px;
    border-radius: 3px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    background-color: #00d86a;
    border: none;
    height: 38px;
    text-transform: uppercase;
}

.clear input:hover {
    background-color: #174665;
    border: 1px solid rgb(1, 37, 125);
    transition: .4s;
}



#slogan {
    text-align: center;
    color: rgb(47, 46, 46);
    font-size: 10px;
}

/* HERO */







/*----Screen for 1400px or less------*/
@media (max-width:1400px){


    /* FOOTER */

    .Footer-subscribe {
        display: flex;
    }

    #mc_embed_signup_scroll {
        align-items: end;
    }

    .mc-field-group {
        display: grid;
    }

    .mc-field-group label {
        margin-bottom: 10px;
    }

    .mc-field-group input {
        margin-bottom: unset;
    }

    #mc_embed_signup div.mce_inline_error {
        bottom: -32px;
        left: 0;
    }
    /* FOOTER */
}











/*----Screen for 768px or less------*/
@media (max-width:768px){
    

    /* HEADER */
    header {
        position: relative;
        z-index: 1;
    }
    
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        margin: 52px -100%;
        background-color: #2879af;
        width: 100%;
        z-index: 1;
        top: 0px;
    }

    .menu ul {
        flex-direction: column;
        margin: 0;
    }

    .menu li {
        border-top: 1px solid #000;
        border-radius: 0;
    }

    #btn-menu:checked ~ .menu {
        margin: 52px 0;
    }
    /* HEADER */


    /* HERO */

    .main-image-description-div {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        align-items: unset;
    }

    .main-image {
        text-align: center;
    }
    .main-image img {
        margin-top: 2rem;
    }



    .Footer-subscribe {
        margin-bottom: 6rem;
    }

    #mc_embed_signup_scroll {
        display: block;
        margin: 0 20px;
    }

    .mc-field-group {
        width: 100%;
        padding: 0;
    }

    .mc-field-group input {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .mc-field-group input::placeholder {
        font-size: 14px;
    }

    .clear input {
        width: 100%;
    }

    /* HERO */

}