* {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #174665;
}




/* HEADER */
header {
    width: 100%;
    height: 52px;
    background: #3498db;
    align-items: center;
    display: grid;
    grid-template-columns: 130px auto 100px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 45%);
    font-size: 14px;
    position: relative;
}

.Logo {
    margin: 0 5px;
}

.Logo a{
    display: flex;
    margin: 0;
    align-items: center;
}

.Logo figure {
    margin: 0;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    justify-self: end;
    padding-right: 10px;
}

header label:hover {
    cursor: pointer;
}

.menu ul {
    margin: 0 20px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.menu li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: .4s;
}
.menu li {
    border-radius: 8px;
}
.menu li a {
    display: block;
    padding: 8px 15px;
    color: #000;
    text-decoration: none;
}

.LoginButton a {
    text-decoration: none;
    color: #000;
    background-color: #00d86a;
    border-radius: 8px;
    padding: 5px 5px;
}

.LoginButton a:hover {
    background-color: #fcfb1e;
    transition: .4s;
}


/* U-WRAPPER */
.u-wrapper {
    margin: auto;
    padding-bottom: 3rem;
}


/* PLANS */
.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

.hero-title h1 {
    color: #fff;
    text-align: center;
}

.PriceCard-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 2rem;
}


.PriceCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid #000;
    border-radius: 12px;
    padding: 1rem;
    min-height: 520px;
    height: auto;
    width: 100%;
}

.PriceCard-recommended {
    margin: 0 3rem;
    background: #3498db;
}

.PriceCard-planInfo {
    color: #fff;
    text-align: center;
}
.PriceCard-planInfo h3 {
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0;
}
.PriceCard-description {
    margin: 0;
    color: #becde3;
    font-size: .875rem;
    line-height: 1.4;
}
.PriceCard-pricing {
    display: flex;
    justify-content: center;
    align-items: center;
}
.PriceCard-pricing img {
    height: 1.55rem;
}

.PriceCard-price {
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.4;
}
.PriceCard-price-frequency {
    font-size: 1.25rem;
    color: #becde3;
    font-style: normal;
    font-weight: 400;
}


.PriceCard-benefits-list {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    display: grid;
    gap: 5pt;
}
.PriceCard-benefits-list li {
    font-size: 15px;
    color: #eff3f8;
    font-weight: 400;
    letter-spacing: .25px;
    line-height: 1.4;
    margin-right: .25rem;
}
.PriceCard-benefits-list li::before {
    content: url("./images/checked-symbol.png");
    vertical-align: middle;
}

.PriceCard-button a {
    text-decoration: none;
    background-color: #00d86a;
    color: #000;
    border-radius: .5rem;
    padding: 8px 50px;
}
.PriceCard-button a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.hero-contact p {
    color: #fff;
    font-size: 13px;
}
.hero-contact a {
    color: #fff;
}







@media (max-width:768px){
    

    /* HEADER */
    header {
        position: relative;
        z-index: 1;
    }
    
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        margin: 52px -100%;
        background-color: #2879af;
        width: 100%;
        z-index: 1;
        top: 0px;
    }

    .menu ul {
        flex-direction: column;
        margin: 0;
    }

    .menu li {
        border-top: 1px solid #000;
        border-radius: 0;
    }

    #btn-menu:checked ~ .menu {
        margin: 52px 0;
    }




    /* PLANES */
    .PriceCard-container {
        flex-direction: column;
    }

    .PriceCard-recommended {
        margin: 2rem 0;
    }
}




